<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
        <h1 class="mb-0">Hari
            <span class="text-primary">Ilangovan</span>
        </h1>
        <div class="subheading mb-5"> Bostonian 
            <i class="fas fa-location-arrow"></i>
            living in Atlanta, GA
            <a href="mailto:hari.ilangovan@gatech.edu">hari.ilangovan@gatech.edu</a>
        </div>
        <p class="lead mb-5">I am an analytics professional interested in the areas of optimization and machine learning. I'm currently attending Georgia Tech in pursuit of a Master's of Science in Analytics (MSA).  </p>
        <div class="social-icons">
            <a href="{{ site.linkedin }}">
            <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="{{ site.github }}">
            <i class="fab fa-github"></i>
            </a>
            <a href="https://www.kaggle.com/thelifeofhi">
            <i class="fab fa-kaggle"></i>
            </a>
        </div>
        </div>
    </section>