<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
            <i class="fab fa-python"></i>
            </li>
            <li class="list-inline-item">
            <i class="fab fa-r-project"></i>
            </li>
            <li class="list-inline-item">
            <i class="fab fa-java"></i>
            </li>
            <li class="list-inline-item">
            <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Analytics Competencies</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Supervised learning techniques: (SVM and KNN Classification) </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Unsupervised learning techniques: (K-means Clustering) </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Time Series Analysis Techniques: (CUSUM, Exponential Smoothing, ARIMA, GARCH</li>
            <li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Tree-based models: CART, Random Forests</li>
            <li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Data Preparation and Model Selection: PCA, Cross Validation</li>
            <li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Predictive Modeling techniques: Linear &amp; Logistic Regression, ANOVA</li>
            <li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Optimization Techniques: Convex Optimization (transportation, capacity, scheduling)</li>
            <li>
        </ul>
        </div>
    </section>
