<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        {% for item in site.data.work_exp %}
        {% if forloop.last == false %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
            <h3 class="mb-0">{{ item.role }} </h3>
            <div class="subheading mb-3">{{item.company}}</div>
            <p>{{item.description}}</p>
            </div>
            <div class="resume-date text-md-right">
            <span class="text-primary">{{item.duration}}</span>
            </div>
        </div>
        {% else %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                <h3 class="mb-0">{{ item.role }} </h3>
                <div class="subheading mb-3">{{item.company}}</div>
                <p>{{item.description}}</p>
                </div>
                <div class="resume-date text-md-right">
                <span class="text-primary">{{item.duration}}</span>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>

    </section>